@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}
#list #list_tab {
}

body{ padding:0; margin:0; font-size:12px; font-family:"微软雅黑"; color:#333; line-height:2em;}
h1,h2,h3,h4,h5,h6,ol,ul,li,img,form,input{ padding:0; margin:0; display:block;}
ul{ list-style:none;}
a{ color:rgba(0,0,0,0.8); text-decoration:none;}
img{ border:0;}
.clear{ clear:both;}
.opacity:hover{ opacity:0.8;}
/*
dispaly:
block 块级元素
inline 内联元素
inline-block 内联块级
none 无
*/
