<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duochuang.mapper.TradeMapper">
    <select id="findTrader" resultType="com.duochuang.entity.FXCMInfoEntity">
        select * from fxcm_account fa where account_role='trader'
    </select>
    <select id="findFollower" resultType="com.duochuang.entity.FXCMInfoEntity">
        select * from fxcm_account fa where account_role='follower'
    </select>
</mapper>